*{
    box-sizing: border-box;
 overflow: hidden;
 margin: 0%;
 }
 /* .body{
    margin:0;
 } */
 .main{
 display: flex;
 min-height: 100vh;
 min-width: 100vw;
 }
 .col-1{
 flex:1;
 background-color: rgb(130, 94, 177);
 min-height: 100vh;
 }
 
 .col-2{
 flex: 5;
 background-color: rgb(146, 55, 55);
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 }
 
 .header{
 background-color: rgb(104, 153, 75);
 flex: 1;
 
 }
 .content{
 background-color: rgb(101, 200, 218);
 flex:4;
 display: flex;
 flex: row;
 }
 .middel{
 flex: 4;
 background-color: rgb(44, 51, 77);
 display: flex;
 flex-direction: column;
 
 }
 .aside{
 flex:1;
 background-color: rgb(235, 200, 88);
 }
 .article{
 flex:4;
 background-color: rgb(245, 144, 12);
 
 }
 .footer{
 flex: 1;
 background-color: fuchsia;
}

@media screen and (max-width :800px){
    .main,.col-1,.col-2,.header,.content,.middel,.aside,.article,.footer{
        width: 100%;
    }
}


